{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #form_container{
        margin-left: 5%;
        margin-top: 20px;
        width: 90%;
    }
    #recipe_form{
        width:50%;
    }
    .subBtn{
    margin-left: 25%;
    border: 1px outset buttonborder;
    border-radius: 5px;
    color: white;
    background-color: #1d709c;
    }

</style>
<div class="container" id="form_container">
    <div class="row">
      <div class="col col-lg-6">
        <form action="{% url 'add_recipe' form1_done=1%}" method="post" id="recipe_form">
            {% csrf_token %}
            <!-- {{ form_recipe|crispy }} -->
              <div class="form-row ">
                  <div class="form-group col-md-12">
                      {{form_recipe.title|as_crispy_field}}
                      {{form_recipe.cuisine|as_crispy_field}}
                      {{form_recipe.time|as_crispy_field}}
                      {{form_recipe.instructions|as_crispy_field}}
                  </div>
              </div>
            <button type="submit" class='btn btn-primary' id="subBtn">Let's fill ingredients</button>
            {{ form.errors }}
          </form>
        </div>
      <div class="col col-lg-6">
        {% if form1_done %}
        <h1>Add ingredients</h1>
        <form id="form-container" method="POST" id="recipe_form">
            {% csrf_token %}
            {{formset.management_form|crispy}}
            {% for form in formset %}
            <div class="ing-form">
            {{form|crispy}}
            </div>
            {% endfor %}
            <button id="add-form" class='btn btn-primary'>Add Another Ingredient</button>
            <button type="submit" class='btn btn-primary'>Create ingredients</button>
        </form>
        {% endif %}
    </div>
  </div>
</div>


<script>
    let birdForm = document.querySelectorAll(".ing-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>
{% endblock%}