{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<style>


</style>
<h1>some header</h1><br>
<form action="{% url 'add_recipe' form1_done=1%}" method="post">
  {% csrf_token %}
  {{ form_recipe }}
  <input type="submit" value="OK">
</form>

{% if form1_done %}
<h1>Add ingredients</h1>
<form id="form-container" method="POST">
    {% csrf_token %}
    {{formset.management_form}}
    {% for form in formset %}
    <div class="ing-form">
    {{form}}
    </div>
    {% endfor %}
    <button id="add-form" type="button">Add Another Ingredient</button>
    <button type="submit">Create ingredients</button>
</form>
{% endif %}

<script>
    let birdForm = document.querySelectorAll(".ing-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>
{% endblock%}