{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<style>
#my_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>


<h1>Where recipes o.O</h1>

<div class="container">
    <div class="row">
      {% for recipe in recipes %}
      <div class="col col-md-4">
        <a href="{% url 'specific_recipe' recipe.id%}" style="color: #fb3f00; text-decoration: none;">
        <div class="card shadow p-3 mb-3 bg-white rounded" style="width: 18rem;">
          <img src="{% static 'pictures/spaghetti.jpg' %}" class="card-img-top" alt="oh no...">
          <div class="card-body">
            <p class="card-text">{{ recipe.title }}</p>
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock%}