{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<style>
h1, h2, h3, p{
    max-width: 40%;
    margin-left: 10%;
    margin-right: auto;
}
#recipe_container{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 10%;
}

#recipe_container_inner{
    background-color: rgb(255, 235, 235);
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;;
}

.top-buffer { margin-top:20px; }
</style>


<div class="container" id="recipe_container">
  <div class="row"><div class="col" style="font-size: xxx-large;">{{ recipe.title }}</div>
    <div class="col"><a href="{% url 'update_recipe' recipe_id=recipe.id %}" type="btn btn-primary" id="update-recipe-btn">Update!</a></div>
  </div>
  <div class="row top-buffer">
    <div class="column" style="width: 45%;" id="recipe_container_inner">
      <div class="w-100"></div>
      <div class="col" style="font-size: x-large;">Instructions</div>
      <div class="w-100"></div>
      <div class="col">{{ recipe.instructions }}</div>
      <div class="w-100"></div>
    </div>

    <div class="column" style="margin-right: 5%; margin-left: auto; width: 45%;" id="recipe_container_inner">
      <table class="table" id="ing_table">
        <thead>
          <tr>
            <th scope="col">Ingredients</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for ing in ing_info %}
          <tr>
            <td>{{ ing.0}}</td>
            <td width=15%>{{ ing.1}}{{ ing.2}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock%}
    </div>
  </div>
</div>
